.form-control {
  width: 24em;
  height: 4em;
}

mat-form-field {
  width: 24em;
  height: 5rem;
}

.mat-mdc-form-field-infix {
  width: 24em;
}

mat-mdc-form-field-infix {
  width: 24em;
}

.mat-select-panel {
  min-width: 300px !important;
  max-width: 400px !important;
}

input, select {
  padding: 5px;
  font-size: 14px;
}

.col-auto {
  width: auto;
}

h3 {
  text-align: center;
  margin-top: 1em;
}

button {
  top: 0.75em;
  position: relative;
}

i {
  font-size: 1.5em;
}

button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

input, select {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

input:focus, select:focus {
  border-color: #007bff; /* Color cuando se selecciona */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 100%;
  margin: 1em 0;
  font-size: 1em;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f4f4f4;
  font-weight: bold;
}


@media (max-width: 768px) {
  table {
    font-size: 0.9em;
  }
}

tr:hover {
  background-color: #f9f9f9;
}

table {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.actualizacion {
  margin-left: 1em;
}

.alert, .alerta {
  display: flex;
  justify-content: center;
  //width: 50%;
}
