<form [formGroup]="formularioConversion" (ngSubmit)="convertir()">

  <div class="container mt-4">
    <div class="row g-4 align-items-center row-cols-lg-6">
      <div class="col-auto">
        <label for="cantidad">Importe:</label>
        <input type="number" id="cantidad" formControlName="cantidad" class="form-control" placeholder="Importe" min="0" (keyup)="convertir()"/>
      </div>
      <div class="col-auto">
        <label for="monedaOrigen">De:</label>
        <select class="form-select" id="monedaOrigen" formControlName="monedaOrigen">
          <option *ngFor="let divisa of objectKeys(monedas)" [value]="divisa">{{getMoneda(divisa)}}</option>
        </select>
      </div>
      <div class="col-auto">
        <label for="monedaOrigen">A:</label>
        <select id="moneda" formControlName="monedaDestino" class="form-select">
          <option *ngFor="let divisa of objectKeys(monedas)" [value]="divisa">{{getMoneda(divisa)}}</option>
        </select>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" type="submit" [disabled]="formularioConversion.invalid">Convertir</button>
      </div>
    </div>
  </div>
</form>


<h3 class="mb-3 h3" *ngIf="conversion">
  {{cantidad | currency:monedaOrigen:'symbol':'1.2-2'}} = {{conversion | currency:monedaDestino:'symbol':'1.2-2'}}
</h3>
