.form-control {
  width: 24em;
  height: 4em;
}

mat-form-field {
  width: 24em;
  //height: 4em;
}

.mat-mdc-form-field-infix {
  width: 24em;
}

mat-mdc-form-field-infix {
  width: 24em;
}

.mat-select-panel {
  min-width: 300px !important; /* Ancho mínimo */
  max-width: 400px !important; /* Ancho máximo opcional */
}

input, select {
  padding: 5px;
  font-size: 14px;
}

.col-auto {
  width: auto;
}

h3 {
  text-align: center;
  margin-top: 1em;
}

button {
  top: 0.75em;
  position: relative;
  height: 4em;
  width: 7em;
}
